.medailles-container {
    position: relative;
    background-color: #f0f0f0; /* Light grey background */
    text-align: center;
    color: white !important;
    padding: 20px;
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold !important;
    background-image: linear-gradient(to bottom, #102838, #1A425B, #060E14); /* Dégradé du haut vers le bas */
  }

  
  .team-section {
    margin: 20px 0;
  }
  
  .medals-list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .medal {
    display: flex; /* Active Flexbox dans .medal */
    flex-direction: column; /* Aligne verticalement le texte et l'image */
    justify-content: center; /* Centre verticalement le contenu */
    align-items: center; /* Centre horizontalement le contenu */
    padding: 10px;
    border: none;
  }  
  .medal.gold {
    background-color:none;
  }
  
  .medal.silver {
    background-color: none;
  }
  
  .medal.bronze {
    background-color: none; /* Bronze color */
  }

  .medal.medal-img {
    width: 200px; /* Ajuste la taille de l'image */
    height: auto;
    margin-bottom: 5px; /* Espace entre l'image et le texte */
  }
  
  .medal.year {
    position: relative; /* Position relative pour ajuster si nécessaire */
    top: 5px; /* Ajuste la position verticale */
  }




.horizontal-separator {
  border:#700ed8; /* Supprime les bordures par défaut */
  height: 5px; /* Définit l'épaisseur de la barre */
  background-color:white; /* Couleur de la ligne */
  margin: 20px 0; /* Espace vertical autour de la ligne */
}
